:root{
	font-size: 16px;
}

body {
	margin: 0px;
	padding: 0px;
}

.contents {
	display: flex;
	flex-direction: column;
}

.picture {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.picture-text {
	font-family: "Courier New";
	font-size: 3rem;
	width: 94vw;
	text-overflow: 4%;
	background-color: rgb(249,249,249,0.5);
	margin: 1.5%;
	text-align: center;
}

.about {
	color: white;
	font-size: 1.5em;
	background-color: rgba(30, 30, 30);
}

.about-button button {
	font-family: "Times New Roman" sans-serif;
	background-color: black;
	border-color: white;
	border-style: outset;
	border-radius: 15%;
	color: white;
	letter-spacing: 2px;
	margin: 1vw;
	padding: 1vw 1vw;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.75rem;
	cursor: pointer;
}

h1 {
	display: flex;
	font-size: 2em;
	font-weight: bold;
	margin-left: 0.1vw;
	margin-right: 0.1vw;
}

p {
	display: flex;
	font-family: "Times New Roman" serif;
	flex-direction: row;
	align-items: center;
	letter-spacing: 1px;
	padding: 1vw 5vw 1vw 0;
	margin: 1rem;
}

.image {
	display: block;
	margin-left: 5px;
}

.myinterests {
	color: black;
	font-size: 1.5em;
	background-color: white;
}

.interests-button button {
	font-family: "Lucida Console", monospace;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border-color: black;
    margin: 2vw;
    padding: 1vw 1vw;
    border-radius: 12%;
    box-shadow: 0px 10px 10px rgba(1, 1, 1,);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.interests-button button:hover {
	background-color: #2EE59D;
    box-shadow: 0px 10px 10px rgba(46, 229, 157, 0.4);
    color: #fff;
}

h2 {
	display: flex;
	font-family: "play fair display" serif;
	flex-direction: row;
	align-items: center;
	padding: 5vw 5vw 5vw 0;
	letter-spacing: 2px;
	margin: 1rem;
}

.image1 {
	display: block;
	margin-left: 5px;
}

.professionalxp {
	color: white;
	font-size: 1.5rem;
	background-color: rgb(6,6,6,0.8);
}

.professionalxp button {
	font-family: "Times New Roman" serif;
	background: black;
    border: none;
    border-radius: 10%;
    color: #169DEC;
    font-weight: bolder;
    font-size: 1rem;
    margin: 2vw;
    padding: 1vw 1vw;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: box-shadow 0.3s linear 0.1s;
}

.professionalxp button:hover {
	cursor: pointer;
    box-shadow: 0 3px 20px 0 #35eea4;
}

h3 {
	display: flex;
	font-family: "Times New Roman" serif;
	flex-direction: row;
	align-items: center;
	padding: 5vw 5vw 5vw 0;
	margin: 2vw;
	letter-spacing: 1px;
}

.project {
	margin-top: -2vw;
	color: white;
	background-color: rgb(6,6,6,0.9);

}

input {
	font-family: "Times New Roman" serif;
	cursor: pointer;
	background: gold;
    border: none;
    border-radius: 10%;
    color: #060335;
    font-weight: bolder;
    font-size: 1.5rem;
    margin: 2vw;
    padding: 2vw 2vw;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h4 {
	display: flex;
	font-family: "Times New Roman" serif;
	font-size: 1.5rem;
	flex-direction: row;
	align-items: center;
	padding: 5vw 5vw 5vw 0;
	margin: 2vw;
	letter-spacing: 1px;
}

.social img {
	width: 5%;
}

h5 {
	margin: 2vw;
	display: flex;
	font-size: 10px;
	justify-content: flex-end;
}

@media screen and (min-width: 450px) and (max-width: 10000px) {
	.image img {
		width: 48%;
	}
	.image1 img {
		width: 24%;
	}
}
@media screen and (max-width: 449px) {
	.image img {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.image1 img {
		width: 33%;
	}
}
